canvas
{
	background-color:#6699FF;
	margin-top:30px;
}
body
{
	padding:15px;
}
.fb-login-button
{
	position:absolute;
	left:700px;
	top:20px;
}
.fb-like
{
	position:absolute;
	left:500px;
	top:120px;
}